/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #333;
    color: white;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 30px;
    color: white;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}